@use 'base'
div
    .pontos
        font-size: 29px

div
    .texto-destaque
        font-size: 49px

.img-servico
    width: 150%
    overflow: hidden

div
    .titulo-serviço-home
        font-size: 24px
        color: base.$cinza
        padding-bottom: 10px

div
    .img-servico-home
        width: 300px

div
    .img
        width: 100%

div
    .descricao-destaque
        // height: 616px
        padding-top: 15%
        margin-top: -65%
        color: #ffffff
        
.has-text-align-center
    font-size: clamp(0.5em, 1em + 1vw, 2.625em ) !important        

.parallax-container
    height: 300px !important

.parallax
    img
        opacity: 1 !important
        width: 100%

.fundo-cinza-claro
    background-color: base.$cinza-claro

.fundo-cinza-escuro
    background-color: base.$cinza-escuro

.fonte-cinza
    color: base.$cinza

.fonte-branca
    color: base.$branco

.fonte-verde
    color: base.$verde

.fonte-size23
    font-size: 24px

.negrito
    font-weight: bold

.padding-top10
    padding-top: base.$padding-top10

.padding-top20
    padding-top: 20px

.padding-bottom10
    padding-bottom: 10px

.padding-bottom20
    padding-bottom: 20px

.padding-bottom50
    padding-bottom: 50px
.padding-bottom80
    padding-bottom: 80px

.margin-top40
    margin-top: 40px

.margin-top0
    margin-top: 0px

.margin-bottom-20
    margin-bottom: -20px

.margin-bottom0
    margin-bottom: 0px

.carousel
    margin-top: -10%

.rodape-copy
    p
        margin: 0px 0px 0px 0px
        padding: 10px 0px 10px 0px

.descricao_sobre_nos
    p
        text-align: justify
        padding-right: 30px
        color: base.$cinza

.overflow-hidden
    overflow: hidden

.img-side
    // width: 500%
    height: 1000px

.img-cobertura
    width: 100%

.bg-cobertura
    background-color: base.$cinza-claro

.bg-referencia
    background-color: base.$cinza-claro
    padding: 30px 0px 10px 0px

.cidades
    color: base.$cinza
    font-size: 25px

textarea
    height: 13rem

.card-content
    background-color: base.$cinza-claro !important
    text-align: justify !important

.card-title
    font-weight: 600 !important
    text-align: center
    max-width: 18ch
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.titulo-single
    margin-bottom: -25px

.resumo-single
    text-align: justify
    font-weight: 100
    color: base.$cinza

.conteudo-single
    text-align: justify
    color: base.$cinza

.autor
    padding: 0px !important

.autor-nome
    h4
        font-size: 1.80rem !important
        color: base.$cinza

.referencia
    color: base.$cinza
    padding: 0px

.align-center
    margin-left: 33%

.caption
    background-color: rgba(110,110,110,0.8)
    padding: 10px 20px 30px 20px

.caption
    h3
        color: base.$branco

.card-servico-impar
    border-left: solid 5px #6e6e6e
    padding: 0 !important
.card-servico-par
    border-right: solid 5px #6e6e6e
    padding: 0 !important

.descricao
    p
        text-align: justify !important

.imagem-servico
    overflow: hidden
    padding: 0 !important

.imagem-servico-img
    overflow: hidden
    width: 150% !important

.servico-impar
    padding: 0px 30px 0px 30px !important
    color: base.$cinza

.servico-par
    padding: 0px 30px 0px 30px !important
    color: base.$cinza

.titulo-servico
    span
        font-size: 28px !important

.img-servicos-home
    max-width: 100% !important
    // width: 90%
    // height: 70%
    // overflow: hidden
    // height: 158.59px !important

.carousel-item
    opacity: 0.5 !important
    transition: opacity 1s

.carousel-item:hover
    opacity: 1 !important

.img-cliente
    width: 70%

.img-galeria
    width: 100%
    height: 105px

.logo-leva  
    width: 50px
    padding-left: 10px
    filter: brightness(2160%)
    transition: filter .3s

.logo-leva:hover
    filter: brightness(100%) !important

.commentlist
    list-style: none

.clipwrapper
    position: relative
    height: 225px

.clip
    position: absolute
    clip: rect(0px 302px 175px 12px)