@charset "UTF-8";
.btn-laranja {
  background-color: #da9111;
  color: #ffffff;
}

.btn-laranja:hover {
  background-color: #ffb224;
}

.sidenav-trigger i {
  color: #6e6e6e;
}

.btn-blog a {
  margin-top: 20px;
}

.btn-whatsapp a {
  font-size: 2.92rem;
  font-weight: bold;
}

.btn-submit {
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

.btn-blog-home a {
  color: #ffffff;
  background-color: #6e6e6e;
  padding: 10px;
  border-radius: 2px;
  border: none;
}

.btn-blog-home a:hover {
  background-color: #8a8a8a;
}

.card-action {
  background-color: #d7d7d7 !important;
  border-bottom: 5px solid #6e6e6e;
  text-align: center;
}

.card-action a {
  background-color: #6e6e6e;
  color: #ffffff !important;
  padding: 10px 30px;
}

.card-action a:hover {
  background-color: #8a8a8a;
}

.card-servico-action {
  text-align: center;
}

.card-servico-action a {
  background-color: #6e6e6e;
  color: #ffffff !important;
  padding: 10px 30px;
}

.card-servico-action a:hover {
  background-color: #8a8a8a;
}

.commentsubmit {
  background-color: #6e6e6e;
  color: #ffffff !important;
  padding: 10px 30px;
  cursor: pointer;
}

nav {
  background-color: #ffffff;
  height: 80px;
}

/*Menu retratil*/
.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 1000;
}

.navbar.hide {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.navbar .channel {
  position: relative;
}

.navbar ul {
  display: flex;
  float: right;
}

.navbar ul li {
  list-style: none;
  line-height: 80px;
  text-align: center;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  width: 250px;
  padding-top: 10px;
}

.brand-logo {
  height: 70px;
}

nav ul li a {
  color: #6e6e6e;
}

nav ul li a:hover {
  background-color: #da9111;
  color: #ffffff;
  border-bottom: 5px solid #6e6e6e;
}

.menu-header-menu-container .menu .current_page_item a {
  background-color: #da9111 !important;
  color: #ffffff !important;
  border-bottom: 5px solid #6e6e6e !important;
}

.menu-rodape .current_page_item a {
  border-bottom: 1px solid #6e6e6e !important;
}

.sidenav {
  z-index: 1001;
}

.sidenav li a {
  color: #6e6e6e;
}

.sidenav li a:hover {
  background-color: #da9111;
  color: #ffffff;
  border-bottom: 5px solid #6e6e6e;
}

.sidenav li a:active {
  background-color: #da9111;
  color: #ffffff;
  border-bottom: 5px solid #6e6e6e;
}

.topo60 {
  padding-top: 60px !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h3 {
  font-weight: bold;
  color: #6e6e6e;
}

div .pontos {
  font-size: 29px;
}

div .texto-destaque {
  font-size: 49px;
}

.img-servico {
  width: 150%;
  overflow: hidden;
}

div .titulo-serviço-home {
  font-size: 24px;
  color: #6e6e6e;
  padding-bottom: 10px;
}

div .img-servico-home {
  width: 300px;
}

div .img {
  width: 100%;
}

div .descricao-destaque {
  padding-top: 15%;
  margin-top: -65%;
  color: #ffffff;
}

.has-text-align-center {
  font-size: clamp(0.5em, 1em + 1vw, 2.625em ) !important;
}

.parallax-container {
  height: 300px !important;
}

.parallax img {
  opacity: 1 !important;
  width: 100%;
}

.fundo-cinza-claro {
  background-color: #d7d7d7;
}

.fundo-cinza-escuro {
  background-color: #acacac;
}

.fonte-cinza {
  color: #6e6e6e;
}

.fonte-branca {
  color: #ffffff;
}

.fonte-verde {
  color: #41c452;
}

.fonte-size23 {
  font-size: 24px;
}

.negrito {
  font-weight: bold;
}

.padding-top10 {
  padding-top: 10px;
}

.padding-top20 {
  padding-top: 20px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}

.padding-bottom20 {
  padding-bottom: 20px;
}

.padding-bottom50 {
  padding-bottom: 50px;
}

.padding-bottom80 {
  padding-bottom: 80px;
}

.margin-top40 {
  margin-top: 40px;
}

.margin-top0 {
  margin-top: 0px;
}

.margin-bottom-20 {
  margin-bottom: -20px;
}

.margin-bottom0 {
  margin-bottom: 0px;
}

.carousel {
  margin-top: -10%;
}

.rodape-copy p {
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
}

.descricao_sobre_nos p {
  text-align: justify;
  padding-right: 30px;
  color: #6e6e6e;
}

.overflow-hidden {
  overflow: hidden;
}

.img-side {
  height: 1000px;
}

.img-cobertura {
  width: 100%;
}

.bg-cobertura {
  background-color: #d7d7d7;
}

.bg-referencia {
  background-color: #d7d7d7;
  padding: 30px 0px 10px 0px;
}

.cidades {
  color: #6e6e6e;
  font-size: 25px;
}

textarea {
  height: 13rem;
}

.card-content {
  background-color: #d7d7d7 !important;
  text-align: justify !important;
}

.card-title {
  font-weight: 600 !important;
  text-align: center;
  max-width: 18ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titulo-single {
  margin-bottom: -25px;
}

.resumo-single {
  text-align: justify;
  font-weight: 100;
  color: #6e6e6e;
}

.conteudo-single {
  text-align: justify;
  color: #6e6e6e;
}

.autor {
  padding: 0px !important;
}

.autor-nome h4 {
  font-size: 1.8rem !important;
  color: #6e6e6e;
}

.referencia {
  color: #6e6e6e;
  padding: 0px;
}

.align-center {
  margin-left: 33%;
}

.caption {
  background-color: rgba(110, 110, 110, 0.8);
  padding: 10px 20px 30px 20px;
}

.caption h3 {
  color: #ffffff;
}

.card-servico-impar {
  border-left: solid 5px #6e6e6e;
  padding: 0 !important;
}

.card-servico-par {
  border-right: solid 5px #6e6e6e;
  padding: 0 !important;
}

.descricao p {
  text-align: justify !important;
}

.imagem-servico {
  overflow: hidden;
  padding: 0 !important;
}

.imagem-servico-img {
  overflow: hidden;
  width: 150% !important;
}

.servico-impar {
  padding: 0px 30px 0px 30px !important;
  color: #6e6e6e;
}

.servico-par {
  padding: 0px 30px 0px 30px !important;
  color: #6e6e6e;
}

.titulo-servico span {
  font-size: 28px !important;
}

.img-servicos-home {
  max-width: 100% !important;
}

.carousel-item {
  opacity: 0.5 !important;
  transition: opacity 1s;
}

.carousel-item:hover {
  opacity: 1 !important;
}

.img-cliente {
  width: 70%;
}

.img-galeria {
  width: 100%;
  height: 105px;
}

.logo-leva {
  width: 50px;
  padding-left: 10px;
  filter: brightness(2160%);
  transition: filter 0.3s;
}

.logo-leva:hover {
  filter: brightness(100%) !important;
}

.commentlist {
  list-style: none;
}

.clipwrapper {
  position: relative;
  height: 225px;
}

.clip {
  position: absolute;
  clip: rect(0px 302px 175px 12px);
}

/*# sourceMappingURL=style.css.map */
